<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd	
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
 	<mvc:annotation-driven/>	
	<mvc:default-servlet-handler/>
	
 	<context:component-scan base-package="com.daka.controller">
 		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
 	</context:component-scan>
	<context:component-scan base-package="com.daka.api" />

	<!-- 访问拦截  -->   
  	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**/**.do"/>
			<mvc:exclude-mapping path="/**/user/logout.do"/>
			<mvc:exclude-mapping path="/**/daka/bg.do"/>
			<bean class="com.daka.interceptor.LoginHandlerInterceptor"/>
		</mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**/app/*.do"/>
            <mvc:mapping path="/app/**/**.do"/>
            <mvc:exclude-mapping path="/**/app/customer/checkLog.do" />
            <mvc:exclude-mapping path="/**/app/customer/AuthCode.do" />
            <mvc:exclude-mapping path="/**/app/customer/Regster.do" />
            <mvc:exclude-mapping path="/**/app/customer/retrievePass.do" />
			<mvc:exclude-mapping path="/**/app/goods/listPageShow.do" />
			<mvc:exclude-mapping path="/**/app/goodsType/typeShow.do" />
			<mvc:exclude-mapping path="/**/app/goodsType/goodsInfo.do" />
            <mvc:exclude-mapping path="/**/app/goodsType/ShopCat.do" />
			<mvc:exclude-mapping path="/**/app/shoppingCart/showInfo.do" />
			<mvc:exclude-mapping path="/**/app/shoppingCart/dels.do" />
			<mvc:exclude-mapping path="/**/app/address/saveAddress.do" />
			<mvc:exclude-mapping path="/**/app/address/queryAllAddress.do" />
			<mvc:exclude-mapping path="/**/app/address/delAddress.do" />
			<mvc:exclude-mapping path="/**/app/order/createOrder.do" />
			<mvc:exclude-mapping path="/**/app/order/orderPeration.do" />
			<mvc:exclude-mapping path="/**/app/order/toPay.do" />
			<mvc:exclude-mapping path="/**/app/order/queryAllOrder.do" />
			<mvc:exclude-mapping path="/**/app/order/collectGoods.do" />
			<mvc:exclude-mapping path="/**/app/order/refund.do" />
			<mvc:exclude-mapping path="/**/app/order/toPayOrderShow.do" />
			<mvc:exclude-mapping path="/**/app/order/toPayOrder.do" />
			<mvc:exclude-mapping path="/**/app/alipay/payNotify.do" />
			<mvc:exclude-mapping path="/**/app/promotion/unfreezeOnePromotionData.do" />
			<mvc:exclude-mapping path="/**/app/promotion/unfreezeAllPromotionData.do" />
            <bean class="com.daka.interceptor.appsession.AppLoginInterceptor"/>
        </mvc:interceptor>
	</mvc:interceptors>

    <mvc:resources mapping="/**" location="file:///E:/resource/" />

	<!-- 配置SpringMVC的视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/page/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<bean id="exceptionResolver" class="com.daka.interceptor.MyExceptionResolver"></bean>
	<!-- 上传拦截，如最大上传值及最小上传值 -->
	  <bean id="multipartResolver"   class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >   
		  <property name="maxUploadSize">    
	          <value>104857600</value>    
	       </property>   
	        <property name="maxInMemorySize">    
	            <value>4096</value>    
	        </property>   
	         <property name="defaultEncoding">    
	            <value>utf-8</value>    
	        </property> 
    </bean>  
	
</beans>