<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>推广钱包</title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/base.css" rel="stylesheet" />
		<link href="css/tiyanjin.css" rel="stylesheet" />
		<style type="text/css">
			.active{background-color: #999;color: #fff;}
		</style>
	</head>
	<body>
		<div id="example" class="content t">
			<div class="yemianbiti bg phoneblock">
				<a onClick="javascript:history.back(-1)" class="fanhuiyige mui-icon mui-icon-back"></a>
				推广钱包
			</div>
			<div class="card flexrow jcsb">
				<div class="flexcolumn jcct" style="width: 42%;">推广金额</div>
				<div class="txtbu flexcolumn jcct" style="width: 35%;">{{notActiveTotal}}/{{total}}</div>
				<input type="hidden" name="" id="notActive" v-bind:value="notActiveTotal" />
				<div>
					<div class="jihbtn" v-if="notActiveTotal>0" @click="activation">激活</div>
					<div v-else class="jihbtn active">已激活</div>
				</div>
			</div>
			<div class="card liebiaokuang">
				<div class="ytsj flexrow jcsb" v-for="item in list">
					<div style="width: 42%;">
						<p>{{item.childPhone}}</p>
						<p style="font-size: 0.3rem;color: #ddd;">{{item.createTime}}</p>
					</div>
					<div class="account" style="width: 35%;">
						{{item.account}}元
					</div>
					<div>
						<span v-if="item.state==0" class="ztbtn btnbul" @click="activationChild(item.id,item.unfreezeMoney)">激活</span>
						<span v-else class="ztbtn active">已激活</span>
					</div>
				</div>
			</div>
			
		</div>
	
		<script src="js/jquery.min.js"></script>
		<script src="js/base.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/ajax1.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/tuiguangqianbao.js"></script>
		<script>
			
		</script>
	</body>

</html>