<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的订单</title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/base.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/gouwuche.css"/>
		<link href="css/dingdanxiangqing.css" rel="stylesheet" />
		<link href="css/wodedingdan.css" rel="stylesheet" />
	</head>
	<body>
		<div id="example" class="content t">
			<div class="yemianbiti bg phoneblock">
				<a  onclick="javascript:window.location.href='my.html'" class="fanhuiyige mui-icon mui-icon-back"></a>
				我的订单
			</div>
			<div class="tabs flexrow jcsa">
				<div class="active" onclick="javascript:window.location.href='wodedingdan.html'" >全部</div>
				<div onclick="javascript:window.location.href='daifukuan.html'" >待付款</div>
				<div onclick="javascript:window.location.href='daifahuo.html'" >待发货</div>
				<div onclick="javascript:window.location.href='daishouhuo.html'" >待收货</div>
				<div onclick="javascript:window.location.href='yiwancheng.html'" >已完成</div>
			</div>
			<div class="lists">
				<div id="quanbu" class="active">
					<!--待付款-->
					<div v-if="dfk[0]" class="card bord" v-for="(item,index) in dfk">
						<div class="listtop flexrow jcsb">
							<span>订单号：{{item.orderNo}}</span>
							<p>待付款<span class="mui-icon mui-icon-forward"></span></p>
						</div>
						<!--单个商品-->
						<div class="flexrow dgsp" v-for="item in item.goodsList">
							<div class="shangpinxinxi flexrow">
								<div class="sptp">
									<img :src="item.goodsAttachmentContent" alt="" />
								</div>
								<div class="flexcolumn jcsb spxq">
									<p class="wbyc">{{item.goodsName}}</p>
									<div class="flexrow jcsb">
										<span class="jiae">￥{{item.price}}</span>
										<span >x{{item.count}}</span>
									</div>
								</div>
							</div>
						</div>
						<!--合计-->
						<div class="flexrow heji jcsb">
							<div style="width: 60%;font-size: 0.35rem">
								共<span>{{item.count}}</span>件商品 合计：<span>￥{{item.price}}</span>
							</div>
							<div class="flexrow jcsb" style="width: 40%;flex-direction: row-reverse;">
								<div class="flexcolumn jcct">
									<button class="btn" style="background-color: #fe2500;" @click="zfdd(item.id)">支付订单</button>
								</div>
								<div class="flexcolumn jcct">
									<button class="btn" @click="qxdd(item.id,index)" style="color: #fe2500;background-color: transparent;border:1px solid #fe2500">取消订单</button>
								</div>
							</div>
						</div>
					</div>
					<!--待发货-->
					<div v-if="dfh[0]" class="card bord" v-for="(item,index) in dfh">
						<div class="listtop flexrow jcsb">
							<span>订单号：{{item.orderNo}}</span>
							<p>待发货<span class="mui-icon mui-icon-forward"></span></p>
						</div>
						<!--单个商品-->
						<div class="flexrow dgsp"  v-for="item in item.goodsList">
							<div class="shangpinxinxi flexrow">
								<div class="sptp">
									<img :src="item.goodsAttachmentContent" />
								</div>
								<div class="flexcolumn jcsb spxq">
									<p class="wbyc">{{item.goodsName}}</p>
									<div class="flexrow jcsb">
										<span class="jiae">￥{{item.price}}</span>
										<span >x{{item.count}}</span>
									</div>
								</div>
							</div>
						</div>
						<!--合计-->
						<div class="flexrow heji jcsb">
							<div style="width: 60%;font-size: 0.35rem">
								共<span>{{item.allCount}}</span>件商品 合计：<span>￥{{item.allPrice}}</span>
							</div>
							<div class="flexrow jcsb" style="width: 40%;flex-direction: row-reverse;">
								<div class="flexcolumn jcct">
									<button class="btn" style="background-color: #fe2500;" @click="ckdd(item.id)">查看订单</button>
								</div>
								<div class="flexcolumn jcct">
									<button class="btn" @click="tkdd(item.id,index)" style="color: #fe2500;background-color: transparent;border:1px solid #fe2500">退款</button>
								</div>
							</div>
							
						</div>
					</div>
					<!--待收货-->
					<div v-if="dsh[0]" class="card bord" v-for="(item,index) in dsh">
						<div class="listtop flexrow jcsb">
							<span>订单号：{{item.orderNo}}</span>
							<p>待收货<span class="mui-icon mui-icon-forward"></span></p>
						</div>
						<!--单个商品-->
						<div class="flexrow dgsp"  v-for="item in item.goodsList">
							<div class="shangpinxinxi flexrow">
								<div class="sptp">
									<img  :src="item.goodsAttachmentContent" alt="" />
								</div>
								<div class="flexcolumn jcsb spxq">
									<p class="wbyc">{{item.goodsName}}</p>
									<div class="flexrow jcsb">
										<span class="jiae">￥{{item.price}}</span>
										<span >x{{item.count}}</span>
									</div>
								</div>
							</div>
						</div>
						<!--合计-->
						<div class="flexrow heji jcsb">
							<div style="width: 60%;font-size: 0.35rem">
								共<span>{{item.allCount}}</span>件商品 合计：<span>￥{{item.allPrice}}</span>
							</div>
							<div class="flexrow jcsb" style="width: 40%;flex-direction: row-reverse;">
								<div class="flexcolumn jcct">
									<button class="btn" @click="qrsh(item.id,index)" style="background-color: #fe2500;">确认收货</button>
								</div>
								
							</div>
							
						</div>
					</div>
					</div>

				
				
			
			
			</div>
		
		</div>

		<script src="js/jquery.min.js"></script>
		<script src="js/base.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/ajax1.js"></script>
		<script src="js/wodedingdan.js"></script>
		<script>
			
			
		</script>
	</body>

</html>