<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>周排行榜</title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/base.css" rel="stylesheet" />
		<link href="css/tiyanjin.css" rel="stylesheet" />
	</head>
	<body>
		<div id="example" class="content t">
			<div class="yemianbiti bg phoneblock">
				<a onClick="javascript:history.back(-1)" class="fanhuiyige mui-icon mui-icon-back"></a>
				周排行榜
			</div>
			<div class="card flexrow jcsb">
				<div class="mingc">会员排名</div>
				<div class="zhangh">会员账号</div>
				<div class="chongz">累计充值</div>
			</div>
			<div class="card liebiaokuang">
				<div class=" flexrow jcsb"  v-for="(item,index) in list">
					<div  class="mingc">
						<img  v-if="index<3" :src="imgs[index]" alt="" />
						<span  v-else>{{index+1}}</span>
					</div>
					<div class="zhangh flexcolumn jcct">
						{{item.phone | hideMiddle}}
					</div>
					<div class="chongz flexcolumn jcct">
						{{item.account}}
					</div>
				</div>
				
			</div>
			
		</div>
	
		<script src="js/jquery.min.js"></script>
		<script src="js/base.js"></script>
		<script src="js/mui.min.js"></script>
				<script src="js/ajax1.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/zhoupaihang.js"></script>
		<script>
			
		</script>
	</body>

</html>